* {
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

html, body {
  margin: 0;
}


h1,h2,h3,h4,h5 {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  background-color: transparent;
}


button, 
input,
select,
textarea {
  background: transparent;
  border: 0;
}

button:focus, 
input:focus,
select:focus,
textarea:focus {
  outline: none;
  box-shadow: none;
}

a,
button {
  cursor: pointer;
}

ul,
ol {
  padding-left: 0;
  list-style: none;
}